# Kern-Bibliotheken für das DL Projekt

# Numpy: Datenverarbeitung
numpy

# Unterstützende Bibliotheken

# Visualisierung der der Loss- und Accuracy-Funktion
matplotlib

# tabellarische Ausgabe der Ergebnisse (WIP)
pandas

# Scipy
scipy

# Standard Bibliotheken:
# re
# os